<h2> By capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
    [initialValue]="initialValue"
    (onDebounce)="searchByCapital($event)"
    placeholder="Search by capital"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading" ></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
    <!-- <ul>
      <li *ngFor="let country of countries">
          {{country.capital}} {{ country.population}}
      </li>
    </ul> -->
  </div>
</div>
